html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
/* body */
body {
  background-color: rgb(244, 239, 239);
}
/* navbar */
nav {
  height: 50px;
  font-family: sans-serif;
  font-size: 15.5px;
  font-weight: lighter;
  padding: 2rem 3.8rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo-container {
  width: 200px;
}
.logo {
  width: 100%;
  height: auto;
}
.container1 {
  width: 504px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  color: #706a6a;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li:hover {
  color: rgb(161, 47, 47);
}
.fa-magnifying-glass {
  font-size: 31px;
  color: black;
}
.download {
  background-color: rgb(228, 118, 78);
  color: white;
  padding: 1.1rem;
  border-radius: 10px;
}
.download:hover {
  background-color: rgb(200, 80, 37);
  color: white;
}
.image {
  width: 1300px;
  height: auto;
  border-radius: 20px;
  margin-left: 6rem;
  margin-right: 2rem;
}
.left-box {
  width: 700px;
  height: auto;
  padding: 2rem;
  margin-left: 6rem;
}
.heading1 {
  font-family: cursive;
  margin-bottom: 1rem;
}
.heading2 {
  margin-bottom: 1rem;
  font-size: 17px;
}
.heading2 ul {
  list-style-type: disc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.button1 {
  list-style-type: none;
  background-color: rgb(221, 209, 192);
  border-radius: 15px;
  padding: 0.2rem;
  margin: 0.1rem;
}
.button2 {
  background-color: rgb(204, 209, 218);
  border-radius: 15px;
  padding: 0.2rem;
  margin: 0.1rem;
}
.paragraph {
  font-size: 17.5px;
}
.main-body {
  display: flex;
  gap: 50px;
}
.right-box {
  width: 550px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.side-image-container {
  width: 465px;
  height: 315px;
}
.side-image {
  width: 100%;
  height: auto;
}
.unique {
  margin-bottom: 3rem;
}
/*footer section*/

footer {
  height: 358px;
  background-color: rgb(48, 47, 47);
  color: rgb(212, 210, 210);
  font-family: sans-serif;
  padding: 3rem;
  display: flex;
}
.footer-left-side {
  flex-basis: 54%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem 3rem 0rem 9.4rem;
}
.think-right-container {
  width: 245px;
}
.think-right-logo {
  width: 100%;
  height: auto;
}
.para1 {
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 2.2rem;
}
.footer-logo-container {
  width: 385px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.call-container {
  width: 111px;
  display: flex;
  gap: 0.5rem;
}
.email-container {
  display: flex;
  width: 100px;
  gap: 0.5rem;
}
.fa-phone-volume {
  border-radius: 20px;
  padding: 0.6rem;
  background-color: rgb(229, 194, 200);
}
.fa-solid {
  color: black;
}
.question {
  font-size: 12px;
}
.number {
  font-size: 17px;
}
footer ul {
  list-style-type: none;
}
.fa-envelope {
  border-radius: 20px;
  padding: 0.6rem;
  background-color: rgb(229, 194, 200);
}
.contact {
  font-size: 12px;
}
.mail {
  font-size: 17px;
}
.footer-bottom-container ul {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer-right-side {
  padding: 0.8rem 5rem;
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h2 {
  font-family: sans-serif;
  font-size: 30px;
}
.footer-right-side-logo-container {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.app-store-image {
  width: 100%;
  height: auto;
}
.shortcuts {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 7rem;
}
.shades {
  border-radius: 20px;
  padding: 0.5rem;
  background-color: rgb(229, 194, 200);
}
.fa-brands {
  color: black;
  font-size: 18px;
}
.copyright-portion {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container3 ul {
  list-style-type: none;
  width: 440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.fa-square-facebook {
  font-size: 30px;
}
.fa-twitter {
  font-size: 30px;
}
.fa-linkedin {
  font-size: 30px;
}
.fa-link {
  font-size: 25px;
}
.heading3 {
  font-family: cursive;
  margin-bottom: 2rem;
  font-size: 25px;
}
.heading4 {
  font-family: cursive;
  margin-bottom: 1.5rem;
  font-size: 14px;
}
.heading5 {
  width: 465px;
  font-size: 17px;
}
.heading5 ul {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.buttons {
  background-color: rgb(204, 209, 218);
  border-radius: 18px;
  padding: 0.6rem;
}
.buttons:hover {
  background-color: rgb(228, 118, 78);
}
.profile {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pro-logo {
  width: 65px;
  height: 65px;
  margin-bottom: 1.5rem;
}
.logo-text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.heading6 {
  font-family: cursive;
  margin-bottom: 1.5rem;
  font-size: 23px;
}
